<h1>Usuários</h1>

<button (click)="openCreateUserModal()">Criar</button>

<section *ngIf="createUserModalVisible" class="modal-section">
  <div class="modal-div">
    <form action="">
      <input type="text" name="nome" [(ngModel)]="newUser.nome" placeholder="Nome">
      <input type="text" name="sobrenome" [(ngModel)]="newUser.sobrenome" placeholder="Sobrenome">
      <input type="email" name="email" [(ngModel)]="newUser.email" placeholder="Email">
      <input type="date" name="dataNascimento" [(ngModel)]="newUser.dataNascimento">
      <select [(ngModel)]="newUser.escolaridade" name="escolaridade" id="escolaridade">
        <option *ngFor="let option of escolaridadeOptions" [ngValue]="option">
          {{option}}
        </option>
      </select>
    </form>
    <div>
      <button (click)="confirmCreateUser()">Confirmar</button>
      <button (click)="closeCreateUserModal()" class="delete-button">Cancelar</button>
    </div>
  </div>
</section>

<ul>
  <li *ngFor="let user of users">
    <span>Nome: {{user.nome}} {{user.sobrenome}}</span>
    <span>Email: {{user.email}}</span>
    <span>Data de Nascimento: {{user.dataNascimento | date:'dd/MM/yyyy'}}</span>
    <span>Escolaridade: {{user.escolaridade}}</span>

    <div>
      <button (click)="openEditUserModal(user)">Alterar</button>
      <button (click)="openDeleteUserModal(user)" class="delete-button">Deletar</button>
    </div>
  </li>
</ul>

<section *ngIf="editUserModalVisible" class="modal-section">
  <div class="modal-div">
    <form action="">
      <input type="text" name="nome" [(ngModel)]="userToEdit.nome">
      <input type="text" name="sobrenome" [(ngModel)]="userToEdit.sobrenome">
      <input type="email" name="email" [(ngModel)]="userToEdit.email">
      <input type="date" name="dataNascimento" [(ngModel)]="userToEdit.dataNascimento">
      <select [(ngModel)]="userToEdit.escolaridade" name="escolaridade" id="escolaridade">
        <option *ngFor="let option of escolaridadeOptions" [value]="option">
          {{option}}
        </option>
      </select>
    </form>
    <div>
      <button (click)="confirmeEditUser()">Confirmar</button>
      <button (click)="closeEditUserModal()" class="delete-button">Cancelar</button>
    </div>
  </div>
</section>

<section *ngIf="deleteUserModalVisible" class="modal-section">
  <div class="modal-div">
    <p>Tem certeza que deseja deletar o usuário {{userToDelete?.nome}}?</p>
    <div>
      <button (click)="confirmDeleteUser()">Confirmar</button>
      <button (click)="closeDeleteUserModal()" class="delete-button">Cancelar</button>
    </div>
</div>
</section>